In [96]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 999)

In [97]:
# load data frame
rw = pd.read_csv("..//Datasets/NEW/RW_with_airports.csv")

In [100]:
rw

,tail_number,date,aircraft,origin_code,origin,destination_code,destination,departure,arrival,duration,distance_mi,Owner,origin_Latitude,origin_Longitude,destination_Latitude,destination_Longitude,airport_origin,city_origin,origin_state,country_origin,airport_destination,city_destination,destination_state,country_destination,departure_shift,arrival_shift
0,N640EC,2021-03-11,EC35,KPGV,Pitt-Greenville (KPGV),KRWI,Rocky Mount-Wilson Rgnl (KRWI),04:29AM EST,04:46AM EST,16.0,32.296705,"METRO AVIATION INCSHREVEPORT, LA, US(Corporation)",35.635201,-77.385300,35.856300,-77.891899,Pitt Greenville Airport,Greenville,NC,US,Rocky Mount Wilson Regional Airport,Rocky Mount,NC,US,night,night
1,N640EC,2021-03-11,EC35,KRWI,Rocky Mount-Wilson Rgnl (KRWI),KPGV,Pitt-Greenville (KPGV),02:17AM EST,03:47AM EST (?),89.0,32.296705,"METRO AVIATION INCSHREVEPORT, LA, US(Corporation)",35.856300,-77.891899,35.635201,-77.385300,Rocky Mount Wilson Regional Airport,Rocky Mount,NC,US,Pitt Greenville Airport,Greenville,NC,US,night,night
2,N640EC,2021-03-11,EC35,KPGV,Pitt-Greenville (KPGV),KRWI,Rocky Mount-Wilson Rgnl (KRWI),01:15AM EST,01:30AM EST (?),15.0,32.296705,"METRO AVIATION INCSHREVEPORT, LA, US(Corporation)",35.635201,-77.385300,35.856300,-77.891899,Pitt Greenville Airport,Greenville,NC,US,Rocky Mount Wilson Regional Airport,Rocky Mount,NC,US,night,night
3,N640EC,2021-03-10,EC35,KIXA,"Roanoke Rapids, NC",KPGV,Pitt-Greenville (KPGV),11:33PM EST,12:02AM EST (+1),28.0,54.850847,"METRO AVIATION INCSHREVEPORT, LA, US(Corporation)",36.403840,-77.637860,35.635201,-77.385300,Halifax-Northampton Regional Airport,Roanoke Rapids,NC,US,Pitt Greenville Airport,Greenville,NC,US,night,night
4,N640EC,2021-03-10,EC35,KRWI,Rocky Mount-Wilson Rgnl (KRWI),KIXA,"Roanoke Rapids, NC",08:50PM EST,09:31PM EST,41.0,41.163189,"METRO AVIATION INCSHREVEPORT, LA, US(Corporation)",35.856300,-77.891899,36.413910,-77.628940,Rocky Mount Wilson Regional Airport,Rocky Mount,NC,US,Halifax-Northampton Regional Airport,Roanoke Rapids,NC,US,night,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96069,N810LF,2020-12-01,AS50,KHOB,Lea County Rgnl (KHOB),KE57,Denver City (E57),09:36AM MST,10:47AM CST (?),10.0,29.475064,"BANK OF UTAH TRUSTEESALT LAKE CITY, UT, US(Cor...",32.687500,-103.217003,32.975101,-102.842003,Lea County Regional Airport,Hobbs,NM,US,Denver City Airport,Denver City,TX,US,day,day
96070,N810LF,2020-12-01,AS50,NM83,Industrial Airpark (NM83),KHOB,Lea County Rgnl (KHOB),09:09AM MST,09:14AM MST,4.0,5.484395,"BANK OF UTAH TRUSTEESALT LAKE CITY, UT, US(Cor...",32.766800,-103.209000,32.687500,-103.217003,Industrial Airpark,Hobbs,NM,US,Lea County Regional Airport,Hobbs,NM,US,day,day
96071,N810LF,2020-11-30,AS50,KHOB,Lea County Rgnl (KHOB),NM83,Industrial Airpark (NM83),11:46AM MST,11:52AM MST,5.0,5.484395,"BANK OF UTAH TRUSTEESALT LAKE CITY, UT, US(Cor...",32.687500,-103.217003,32.766800,-103.209000,Lea County Regional Airport,Hobbs,NM,US,Industrial Airpark,Hobbs,NM,US,day,day
96072,N810LF,2020-11-30,AS50,NM83,Industrial Airpark (NM83),KHOB,Lea County Rgnl (KHOB),05:07AM MST,05:14AM MST,6.0,5.484395,"BANK OF UTAH TRUSTEESALT LAKE CITY, UT, US(Cor...",32.766800,-103.209000,32.687500,-103.217003,Industrial Airpark,Hobbs,NM,US,Lea County Regional Airport,Hobbs,NM,US,night,night
96073,N810LF,2020-11-29,AS50,KHOB,Lea County Rgnl (KHOB),NM83,Industrial Airpark (NM83),05:18PM MST,05:24PM MST,6.0,5.484395,"BANK OF UTAH TRUSTEESALT LAKE CITY, UT, US(Cor...",32.687500,-103.217003,32.766800,-103.209000,Lea County Regional Airport,Hobbs,NM,US,Industrial Airpark,Hobbs,NM,US,day,day

In [98]:
# take only IHC service
ihc = rw.loc[rw.Owner == 'IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(Corporation)'].reset_index(drop=True)

In [101]:
ihc['day_name'] = pd.to_datetime(ihc.date, format='%Y-%m-%d').dt.day_name()

In [102]:
ihc['weekends'] = np.where((ihc.day_name == 'Saturday') | (ihc.day_name == 'Sunday'), 1, 0)

In [103]:
ihc.head()

,tail_number,date,aircraft,origin_code,origin,destination_code,destination,departure,arrival,duration,distance_mi,Owner,origin_Latitude,origin_Longitude,destination_Latitude,destination_Longitude,airport_origin,city_origin,origin_state,country_origin,airport_destination,city_destination,destination_state,country_destination,departure_shift,arrival_shift,day_name,weekends
0,N271HC,2021-03-11,A109,KSLC,"Salt Lake City, UT",KSLC,Salt Lake City Intl (KSLC),07:29AM MST,07:34AM MST (?),5.0,8.519798,"IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(...",40.685100,-111.889080,40.788399,-111.977997,Salt Lake City International Airport,Salt Lake City,UT,US,Salt Lake City International Airport,Salt Lake City,UT,US,day,day,Thursday,0
1,N271HC,2021-03-10,A109,KLGU,"Logan, UT",1UT9,"Salt Lake City, UT",11:43AM MST,12:58PM MST,74.0,75.630224,"IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(...",41.754910,-111.821360,40.660170,-111.889820,Logan-Cache Airport,Logan,UT,US,Tri-Arc Heliport,Salt Lake City,UT,US,day,day,Wednesday,0
2,N271HC,2021-03-10,A109,KSLC,"Salt Lake City, UT",KLGU,"Logan, UT",10:34AM MST,11:43AM MST,68.0,74.276051,"IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(...",40.680190,-111.890260,41.755240,-111.820630,Salt Lake City International Airport,Salt Lake City,UT,US,Logan-Cache Airport,Logan,UT,US,day,day,Wednesday,0
3,N271HC,2021-03-09,A109,KSLC,Salt Lake City Intl (KSLC),1UT9,"Salt Lake City, UT",04:03PM MST,04:07PM MST,3.0,9.630856,"IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(...",40.788399,-111.977997,40.663470,-111.896190,Salt Lake City International Airport,Salt Lake City,UT,US,Tri-Arc Heliport,Salt Lake City,UT,US,day,day,Tuesday,0
4,N271HC,2021-03-09,A109,KSLC,"Salt Lake City, UT",KSLC,Salt Lake City Intl (KSLC),08:51AM MST,08:58AM MST,6.0,7.365781,"IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(...",40.699330,-111.900640,40.788399,-111.977997,Salt Lake City International Airport,Salt Lake City,UT,US,Salt Lake City International Airport,Salt Lake City,UT,US,day,day,Tuesday,0

In [104]:
ihc.to_csv('..//Datasets/NEW/RW_ihc.csv', index=False)

In [105]:
ihc.shape

(658, 28)

In [9]:
# number of flights by tail number
ihc.tail_number.value_counts()

N281HC    229
N271HC    181
N291HC    136
N261HC     75
N251HC     38
Name: tail_number, dtype: int64

In [12]:
# number of flights by shift
ihc.departure_shift.value_counts()

departure_shift  arrival_shift
day              day              384
night            night            238
day              night             28
night            day                9
dtype: int64

In [13]:
# number of flights by shift
ihc.arrival_shift.value_counts()

day      393
night    266
Name: arrival_shift, dtype: int64

In [18]:
# number of flights by shift
ihc[['distance_mi', 'duration']].mean()

distance_mi    28.623366
duration       36.600910
dtype: float64

In [21]:
# average distance and duration by tail number
round(ihc.groupby('tail_number')[['distance_mi', 'duration']].mean(),2)

             distance_mi  duration
tail_number
N251HC             27.67     31.87
N261HC             29.02     44.60
N271HC             26.28     39.34
N281HC             27.49     32.03
N291HC             33.69     37.56

In [22]:
# number of flights in origin and destination locations
ihc.groupby('tail_number')[['origin', 'destination']].nunique()

             origin  destination
tail_number
N251HC           11            9
N261HC            9           11
N271HC           15           17
N281HC           13           19
N291HC           13           14

In [32]:
# top 5 of origin locations and number of flights for N281HC
ihc.groupby('tail_number').origin.value_counts().loc['N291HC'].head(5)

origin
Ogden, UT                     54
Salt Lake City Intl (KSLC)    27
Salt Lake City, UT            17
Bountiful, UT                 13
Provo, UT                      7
Name: origin, dtype: int64

In [33]:
# top 5 of destination locations and number of flights for N281HC
ihc.groupby('tail_number').destination.value_counts().loc['N291HC'].head(5)

destination
Ogden, UT                     53
Salt Lake City Intl (KSLC)    36
Salt Lake City, UT            12
Brigham City, UT               8
Logan, UT                      5
Name: destination, dtype: int64

In [25]:
# top 5 of origin locations and number of flights for N481HC
ihc.groupby('tail_number').origin.value_counts().loc['N261HC'].head(5)

origin
Spanish Fork, UT              17
Salt Lake City, UT            15
Bountiful, UT                 13
Provo, UT                     10
Salt Lake City Intl (KSLC)     9
Name: origin, dtype: int64

In [26]:
# top 5 of destination locations and number of flights for N481HC
ihc.groupby('tail_number').destination.value_counts().loc['N261HC'].head(5)

destination
Heber, UT                     15
Salt Lake City, UT            13
Salt Lake City Intl (KSLC)    12
Spanish Fork, UT              11
Provo, UT                     10
Name: destination, dtype: int64

In [35]:
# distance summary statistics by departure shift
round(ihc.groupby('departure_shift').distance_mi.agg(['count','min','mean','median','max','std']),2)

                 count   min   mean  median     max    std
departure_shift
day                412  3.04  28.18   24.67  162.35  23.83
night              247  2.38  29.36   25.94  193.42  28.64

In [37]:
# distance summary statistics by arrival shift
round(ihc.groupby('arrival_shift').distance_mi.agg(['count','min','mean','median','max','std']), 2)

               count   min   mean  median     max    std
arrival_shift
day              393  3.04  27.47   23.39  162.35  23.94
night            266  2.38  30.33   27.25  193.42  28.11

In [39]:
# distance summary statistics by day
round(ihc.groupby('day_name').distance_mi.agg(['count','min','mean','median','max','std']), 2)

           count   min   mean  median     max    std
day_name
Friday        86  2.82  27.82   27.25   78.04  19.08
Monday        89  2.56  33.69   25.30  193.42  35.46
Saturday      85  2.38  29.89   22.88  149.74  28.98
Sunday        95  3.10  24.97   19.50  193.42  25.33
Thursday     100  3.10  27.88   24.69  139.36  23.38
Tuesday       77  3.11  26.25   27.26   74.75  16.01
Wednesday    127  2.68  29.53   27.25  162.35  25.96

In [42]:
# duration summary statistics by departure shift
round(ihc.groupby('departure_shift').duration.agg(['count','min','mean','median','max','std']), 2)

                 count  min   mean  median  max    std
departure_shift
day                412    1  37.91      16  338  48.58
night              247    0  34.42      18  217  38.28

In [45]:
# duration summary statistics by arrival shift
round(ihc.groupby('arrival_shift').duration.agg(['count','min','mean','median','max','std']), 2)

               count  min   mean  median  max    std
arrival_shift
day              393    1  33.58      16  338  43.56
night            266    0  41.07      21  246  46.78

In [47]:
# duration summary statistics by day
round(ihc.groupby('day_name').duration.agg(['count','min','mean','median','max','std']), 2)

           count  min   mean  median  max    std
day_name
Friday        86    1  35.93      17  261  46.62
Monday        89    1  40.57      17  246  51.91
Saturday      85    1  43.51      14  338  59.57
Sunday        95    0  37.02      15  217  47.51
Thursday     100    1  33.98      18  181  36.66
Tuesday       77    3  31.88      17  173  34.65
Wednesday    127    1  34.26      18  162  36.46

In [93]:
pd.DataFrame(ihc.origin.value_counts().head(5))

                            origin
Salt Lake City, UT             147
Provo, UT                      142
Ogden, UT                       84
Salt Lake City Intl (KSLC)      77
Spanish Fork, UT                66

In [94]:
pd.DataFrame(ihc.destination.value_counts().head(5))

                            destination
Provo, UT                           120
Salt Lake City Intl (KSLC)          112
Salt Lake City, UT                  108
Ogden, UT                            70
Spanish Fork, UT                     59

In [82]:
# Salt Lake City flights
slc = rw.loc[(rw.origin == 'Salt Lake City Intl (KSLC)') | (rw.destination == 'Salt Lake City Intl (KSLC)')\
            | (rw.origin == 'Salt Lake City, UT') | (rw.destination == 'Salt Lake City, UT')]

In [86]:
pd.DataFrame(slc.Owner.value_counts())

                                                    Owner
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C...    366
METRO AVIATION INCSHREVEPORT, LA, US(Corporation)     203
UNIVERSITY OF UTAHSALT LAKE CITY, UT, US(Govern...    136
ROBERTS AIRCRAFT COCHEYENNE, WY, US(Corporation)       40
AIR METHODS CORPGREENWOOD VILLAGE, CO, US(Corpo...     20
REACH AIR MEDICAL SERVICES LLCSANTA ROSA, CA, US       14
M & J LEISURE LCOGDEN, UT, US                          13
CLASSIC MEDICAL INCNORTH SALT LAKE, UT, US(Corp...      5
CLASSIC NA LLCNORTH SALT LAKE, UT, US                   3
TVPX AIRCRAFT SOLUTIONS INC TRUSTEENORTH SALT L...      2
SAN JUAN AVIATION LLCWILMINGTON, DE, US                 2
ALVAC 407 LLCBOISE, ID, US                              1

In [87]:
# Provo, UT flights
provo = rw.loc[(rw.origin == 'Provo, UT') | (rw.destination == 'Provo, UT')]

In [90]:
pd.DataFrame(provo.Owner.value_counts())

                                                    Owner
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C...    262
METRO AVIATION INCSHREVEPORT, LA, US(Corporation)      27
UNIVERSITY OF UTAHSALT LAKE CITY, UT, US(Govern...      5
CLASSIC NA LLCNORTH SALT LAKE, UT, US                   3
M & J LEISURE LCOGDEN, UT, US                           2
REACH AIR MEDICAL SERVICES LLCSANTA ROSA, CA, US        1
AIR METHODS CORPGREENWOOD VILLAGE, CO, US(Corpo...      1

In [146]:
# competitors for N381HC in Salt Lake City as destination
pd.DataFrame(slc.loc[(slc.destination == 'Salt Lake City Intl (KSLC)') & (slc.tail_number != 'N481HC')].groupby('Owner')\
             .destination.value_counts().sort_values(ascending=False))

                                                                               destination
Owner                                              destination
UNIVERSITY OF UTAHSALT LAKE CITY, UT, US(Govern... Salt Lake City Intl (KSLC)           72
US BANK NAPORTLAND, OR, US(Corporation)            Salt Lake City Intl (KSLC)           71
METRO AVIATION INCSHREVEPORT, LA, US(Corporation)  Salt Lake City Intl (KSLC)           65
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... Salt Lake City Intl (KSLC)           38
AIR METHODS CORPGREENWOOD VILLAGE, CO, US(Corpo... Salt Lake City Intl (KSLC)           35
TURBO AIR CHARTER LLCBOISE, ID, US                 Salt Lake City Intl (KSLC)           27
SAINT VINCENTS HEALTHCAREBILLINGS, MT, US(Corpo... Salt Lake City Intl (KSLC)           13
CORSAIR TWO LLCHILLSBORO, OR, US                   Salt Lake City Intl (KSLC)            9
BILLINGS CLINICBILLINGS, MT, US(Corporation)       Salt Lake City Intl (KSLC)            7
DELTA AIR LINES INCATLANTA, GA, US(Corporation)    Salt Lake City Intl (KSLC)            5
AIR METHODS CORPORATIONGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)            5
AERO AIR LLCHILLSBORO, OR, US                      Salt Lake City Intl (KSLC)            3
EAGLE V LLCKALISPELL, MT, US                       Salt Lake City Intl (KSLC)            1
FLAGSTAFF MEDICAL CENTER INCFLAGSTAFF, AZ, US(C... Salt Lake City Intl (KSLC)            1
MEDFLIGHT ONE LLCSEATTLE, WA, US                   Salt Lake City Intl (KSLC)            1
NATIVE AIR SERVICES INCGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)            1
SAN JUAN REGIONAL MEDICAL CENTER INCFARMINGTON,... Salt Lake City Intl (KSLC)            1
VPC PLANES LLCWILMINGTON, DE, US                   Salt Lake City Intl (KSLC)            1

In [147]:
# competitors for N481HC in Salt Lake City as origin
pd.DataFrame(slc.loc[(slc.origin == 'Salt Lake City Intl (KSLC)') & (slc.tail_number != 'N381HC')].groupby('Owner')\
             .origin.value_counts().sort_values(ascending=False))

                                                                               origin
Owner                                              origin
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... Salt Lake City Intl (KSLC)     135
US BANK NAPORTLAND, OR, US(Corporation)            Salt Lake City Intl (KSLC)      72
UNIVERSITY OF UTAHSALT LAKE CITY, UT, US(Govern... Salt Lake City Intl (KSLC)      71
METRO AVIATION INCSHREVEPORT, LA, US(Corporation)  Salt Lake City Intl (KSLC)      66
AIR METHODS CORPGREENWOOD VILLAGE, CO, US(Corpo... Salt Lake City Intl (KSLC)      35
TURBO AIR CHARTER LLCBOISE, ID, US                 Salt Lake City Intl (KSLC)      26
SAINT VINCENTS HEALTHCAREBILLINGS, MT, US(Corpo... Salt Lake City Intl (KSLC)      13
CORSAIR TWO LLCHILLSBORO, OR, US                   Salt Lake City Intl (KSLC)       9
BILLINGS CLINICBILLINGS, MT, US(Corporation)       Salt Lake City Intl (KSLC)       7
DELTA AIR LINES INCATLANTA, GA, US(Corporation)    Salt Lake City Intl (KSLC)       5
AIR METHODS CORPORATIONGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)       5
AERO AIR LLCHILLSBORO, OR, US                      Salt Lake City Intl (KSLC)       3
EAGLE V LLCKALISPELL, MT, US                       Salt Lake City Intl (KSLC)       1
FLAGSTAFF MEDICAL CENTER INCFLAGSTAFF, AZ, US(C... Salt Lake City Intl (KSLC)       1
MEDFLIGHT ONE LLCSEATTLE, WA, US                   Salt Lake City Intl (KSLC)       1
NATIVE AIR SERVICES INCGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)       1
SAN JUAN REGIONAL MEDICAL CENTER INCFARMINGTON,... Salt Lake City Intl (KSLC)       1
VPC PLANES LLCWILMINGTON, DE, US                   Salt Lake City Intl (KSLC)       1

In [148]:
# competitors for N481HC in Salt Lake City as destination
pd.DataFrame(slc.loc[(slc.destination == 'Salt Lake City Intl (KSLC)') & (slc.tail_number != 'N381HC')].groupby('Owner')\
             .destination.value_counts().sort_values(ascending=False))

                                                                               destination
Owner                                              destination
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... Salt Lake City Intl (KSLC)          136
UNIVERSITY OF UTAHSALT LAKE CITY, UT, US(Govern... Salt Lake City Intl (KSLC)           72
US BANK NAPORTLAND, OR, US(Corporation)            Salt Lake City Intl (KSLC)           71
METRO AVIATION INCSHREVEPORT, LA, US(Corporation)  Salt Lake City Intl (KSLC)           65
AIR METHODS CORPGREENWOOD VILLAGE, CO, US(Corpo... Salt Lake City Intl (KSLC)           35
TURBO AIR CHARTER LLCBOISE, ID, US                 Salt Lake City Intl (KSLC)           27
SAINT VINCENTS HEALTHCAREBILLINGS, MT, US(Corpo... Salt Lake City Intl (KSLC)           13
CORSAIR TWO LLCHILLSBORO, OR, US                   Salt Lake City Intl (KSLC)            9
BILLINGS CLINICBILLINGS, MT, US(Corporation)       Salt Lake City Intl (KSLC)            7
DELTA AIR LINES INCATLANTA, GA, US(Corporation)    Salt Lake City Intl (KSLC)            5
AIR METHODS CORPORATIONGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)            5
AERO AIR LLCHILLSBORO, OR, US                      Salt Lake City Intl (KSLC)            3
EAGLE V LLCKALISPELL, MT, US                       Salt Lake City Intl (KSLC)            1
FLAGSTAFF MEDICAL CENTER INCFLAGSTAFF, AZ, US(C... Salt Lake City Intl (KSLC)            1
MEDFLIGHT ONE LLCSEATTLE, WA, US                   Salt Lake City Intl (KSLC)            1
NATIVE AIR SERVICES INCGREENWOOD VILLAGE, CO, U... Salt Lake City Intl (KSLC)            1
SAN JUAN REGIONAL MEDICAL CENTER INCFARMINGTON,... Salt Lake City Intl (KSLC)            1
VPC PLANES LLCWILMINGTON, DE, US                   Salt Lake City Intl (KSLC)            1

In [44]:
ihc.groupby('tail_number').destination.nunique()

tail_number
N381HC    28
N481HC    44
Name: destination, dtype: int64

In [76]:
# ihc.to_csv('ihc.csv', index=False)

In [149]:
# St George Rgnl (KSGU)
sgr = rw.loc[(rw.origin == 'St George Rgnl (KSGU)') | (rw.destination == 'St George Rgnl (KSGU)')]

In [150]:
# competitors for N381HC in St George Rgnl (KSGU) as origin
pd.DataFrame(sgr.loc[(sgr.origin == 'St George Rgnl (KSGU)') & (sgr.tail_number != 'N481HC')].groupby('Owner')\
             .origin.value_counts().sort_values(ascending=False))

                                                                          origin
Owner                                              origin
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... St George Rgnl (KSGU)      51
US BANK NAPORTLAND, OR, US(Corporation)            St George Rgnl (KSGU)      12
MED AIR LLCWILMINGTON, DE, US                      St George Rgnl (KSGU)       1

In [151]:
# competitors for N381HC in St George Rgnl (KSGU) as destination
pd.DataFrame(sgr.loc[(sgr.destination == 'St George Rgnl (KSGU)') & (sgr.tail_number != 'N481HC')].groupby('Owner')\
             .destination.value_counts().sort_values(ascending=False))

                                                                          destination
Owner                                              destination
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... St George Rgnl (KSGU)           50
US BANK NAPORTLAND, OR, US(Corporation)            St George Rgnl (KSGU)           13
MED AIR LLCWILMINGTON, DE, US                      St George Rgnl (KSGU)            1

In [152]:
# competitors for N481HC in St George Rgnl (KSGU) as origin
pd.DataFrame(sgr.loc[(sgr.origin == 'St George Rgnl (KSGU)') & (sgr.tail_number != 'N381HC')].groupby('Owner')\
             .origin.value_counts().sort_values(ascending=False))

                                                                          origin
Owner                                              origin
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... St George Rgnl (KSGU)      29
US BANK NAPORTLAND, OR, US(Corporation)            St George Rgnl (KSGU)      12
MED AIR LLCWILMINGTON, DE, US                      St George Rgnl (KSGU)       1

In [153]:
# competitors for N481HC in St George Rgnl (KSGU) as destination
pd.DataFrame(sgr.loc[(sgr.destination == 'St George Rgnl (KSGU)') & (sgr.tail_number != 'N381HC')].groupby('Owner')\
             .destination.value_counts().sort_values(ascending=False))

                                                                          destination
Owner                                              destination
IHC HEALTH SERVICES INCSALT LAKE CITY, UT, US(C... St George Rgnl (KSGU)           29
US BANK NAPORTLAND, OR, US(Corporation)            St George Rgnl (KSGU)           13
MED AIR LLCWILMINGTON, DE, US                      St George Rgnl (KSGU)            1